<div class="sidebar">
  <header>Clinic</header>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i>Home</a> </li>
    <li><a routerLink="/patients" routerLinkActive="active"><i class="fa fa-user"></i>Patients</a> </li>
    <li><a routerLink="/doctors" routerLinkActive="active"><i class="fa fa-medkit"></i>Doctors</a> </li>
    <li><a routerLink="/rooms" routerLinkActive="active"><i class="fa fa-cogs"></i>Rooms</a> </li>
    <li><a routerLink="/appointments" routerLinkActive="active"><i class="fa fa-table"></i>Appointments</a> </li>
  </ul>
</div>
<section></section>
