/*:host {*/
/*  display: block;*/
/*  background-image: url('/background.jpg'); !* Path to your image *!*/
/*  background-size: cover; !* Cover the entire component *!*/
/*  background-position: center; !* Center the image *!*/
/*  background-repeat: no-repeat; !* Prevent repeating the image *!*/
/*  min-height: 100vh; !* Ensure the component takes full height *!*/
/*}*/

section{
  background: url("background.jpg") center;
  background-size: cover;
  height: 100vh;

}
